<!DOCTYPE html>
<html>
<head>
</head>
<style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }
    header {
      background-color: #008acc;
      color: #fff;
      padding: 10px;
      text-align: center;
    }
    nav {
      background-color: #e7e7e7;
      padding: 10px;
      text-align: center;
    }
  </style>
<body>
    <header>
        <h1>Paytm</h1>
      </header>
      <nav>
        <h2>Pay using UPI</h2>
      </nav>
      <br>
      <div class="container" style="text-align: center;">
          <img src="/media/PaytmQR.jpg" style="height: 400px; width: 400px; align-self: auto;">
      </div>
    <script>
        setTimeout(function() {
            window.location.href = '/redirecting';
        }, 10000); 
    </script>
</body>
</html>
